
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F28%2F2017%2F12%2Fthe-roof-at-public-hotel-new-york-city-ROOF1117.jpg);">
  <div class="container">
    <div class="content">
      <h1>Drinks for all</h1>
      <p>Share your drinks with drinkers all over the world</p>
    </div>
      <%= link_to "Create your own cocktail", new_cocktail_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="content">
  <main>
    <section id="section-a">
      <% @cocktails.each do |cocktail| %>
      <div class="cards">
        <img src="https://conteudo.imguol.com.br/blogs/200/files/2019/06/negroni.jpg" alt="">
        <header class="header-cards"><h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3></header>
        <p><%= link_to "Remove this cocktail", cocktail_path(cocktail), method: :delete, class: 'btn btn-danger'%></p>
      </div>
      <% end %>
    </section>
  </main>
</div>


