<div class="container">
  <h1>Cocktails</h1>
  <div class="mt-3 p-4">
    <% @cocktails.each do |cocktail| %>
      <p> <%= link_to cocktail.name, cocktail_path(cocktail) %></p>
    <% end %>
  </div>
  <br>
  <%= link_to "Create your own cocktail", new_cocktail_path, class: 'btn btn-primary' %>
</div>

